assertpy
colorlog
compact-json
evn
gitpython
hgeom
hydra-core
hypothesis
icecream
lark
numpy
opt_einsum
pydantic
requests
requests_cache
rich
RestrictedPython
tomli
typer
toolz
pytest
sphinx
sphinx-pydata-theme
matplotlib
sphinx_gallery
urllib3>2
